.row
  .col-md-3.col-lg-2
    = render partial: 'sidebar'
  .col-md-9.col-lg-10
    = simple_form_for @message do |f|
      .row
        .col-md-6
          .form-group
            <label for="mail_to">To</label>
            <input type="email" class="form-control" id="mail_to" name="message[to]">
        .col-md-6
          .form-group
            <label for="mail_cc">Cc</label>
            <input type="email" class="form-control" id="mail_cc" name="message[cc]">
      .form-group
        <input type="text" class="form-control" id="mail_subject" placeholder="Add subject" name="message[subject]">
      .form-group
        #wysiwyg_compose
      %hr
      <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-send-o"></i> Send</button>
