%p Hi there,
%p
  We couldn't find a user with the email:
  %strong= @email
%p Please #{link_to 'let us know', 'mailto:contact@smartsearch.email'} if you think we got this wrong.
%p All the best,
%p
  %strong Smartsearch team
  %br
  = link_to 'http://smartsearch.email', 'http://smartsearch.email'
